# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE / editor files
.vscode/
.idea/

# Streamlit
.streamlit/

# Local model files
models/*
!models/.gitkeep

# Generated output files
outputs/*
!outputs/.gitkeep

# OS files
.DS_Store
Thumbs.db

# Logs
*.log